<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
		<meta charset="utf-8">

		<!-- iPad/iPhone specific css below, add after your main css >
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
		<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
		-->
		
        <link rel="stylesheet" href="js/jquery.mobile-1.0.1.min.css" type="text/css" />
        <script type="text/javascript" charset="utf-8" src="js/jquery-1.6.4.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/jquery.mobile-1.0.1.min.js"></script>
            
        <script type="text/javascript" charset="utf-8" src="js/base64.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/aes.js"></script>
            
        <script type="text/javascript" charset="utf-8" src="js/cordova-1.5.0.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/barcodescanner.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/ChildBrowser.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/NativeControls.js"></script>

		<script type="text/javascript">
		
			function onBodyLoad() {
				
				document.addEventListener("deviceready", onDeviceReady, false);
                
			}

			function onDeviceReady() {

				// Alert -----------------------------------------------------------------------
				navigator.notification.alert("index.html");

//				// tabbar ----------------------------------------------------------------------
//                
//                // Initializating TabBar
//                if(!window.plugins){
//                    window.plugins = {};
//                    window.plugins.nativeControls = new NativeControls();
//                }
//                
//                nc = window.plugins.nativeControls;
//                nc.createTabBar();
//                nc.createTabBarItem('whoTabItem', 'who', '', {"onSelect": function(){
//                    navigator.notification.alert('who');
//                }});
//                nc.createTabBarItem('whereTabItem', 'where', '', {"onSelect": function(){
//                    navigator.notification.alert('where');
//                }});
//                nc.createTabBarItem('whatTabItem', 'where', '', {"onSelect": function(){
//                    navigator.notification.alert('where');
//                }});
//                nc.showTabBar();
//                nc.showTabBarItems('whoTabItem', 'whereTabItem', 'whatTabItem');
//                nativeControls.selectTabBarItem('whoTabItem');
//                
//				//------------------------------------------------------------------------------

			}
            
            // サンプル データ ----------------------------------------------------------------
            function sampleItem(){
                
                var qr_id = '2001010000160000038101';
                var area_name = '北海道';
                
                var url = 'http://speed-order.jp/class/json_pg/send_item_info.php';
                var params = {qr_id: qr_id, area_name: area_name};
                
                var sample = {url: url, params: params};
                
                return sample;
            }
            
            
            // POST通信 ---------------------------------------------------------------------
            function sendPost(url, params){
                
                $.post(
                       url,     // アクセスするURL
                       params,  // 送信データ
                       function(data, status, XHR){  // 処理結果
                       resultSpan.innerText = status + JSON.stringify(data);
                       
                       }
                       );
            }
            
            // GET通信 ---------------------------------------------------------------------
            function sendGet(url, params){
                
                $.get(
                      url,     // アクセスするURL
                      params,  // 送信データ
                      function(data, status, XHR){  // 処理結果
                      if(status == 'success'){
                      resultSpan.innerText = status + JSON.stringify(data);
                      } else {
                      resultSpan.innerText = status + JSON.stringify('NG');
                      }
                      }
                      );
            }
            
            // base64 encode ---------------------------------------------------------------
            function encBase64(str){
                
                b64_str = base64.encode(str, 1);
                
                return b64_str;
            }
            
            // base64 decode ----------------------------------------------------------------
            function decBase64(b64_str){
                
                str = base64.decode(b64_str, 1);
                
                return str;
            }
            
            // JSON encode ------------------------------------------------------------------
            function encJson(obj){
                
                json = JSON.stringify(obj);
                
                return json;
            }
            
            // JSON decode ------------------------------------------------------------------
            function decJson(json){
                
                obj = JSON.parse(json);
                
                return obj; // obj.params = value
            }
            
            // AES128 encrypt CBC -------------------------------------------------------------
            function encAes(plaintext) {
                var key = CryptoJS.enc.Hex.parse(randPass(32));
                var iv  = CryptoJS.enc.Hex.parse(randPass(32));
                var encrypted = CryptoJS.AES.encrypt(plaintext, key, { iv: iv });
                var enc = {};
                enc['key'] = encrypted.key;
                enc['iv'] = encrypted.iv;
                enc['enc'] = encrypted;
                return enc;
            }
            
            // AES128 decrypt CBC -------------------------------------------------------------
            function decAes(str, key, iv) {
                var decrypted = CryptoJS.AES.decrypt(str, key, { iv: iv });
                var plaintext = decrypted.toString(CryptoJS.enc.Utf8);
                return plaintext;
            }
            
            // ランダム文字列 -------------------------------------------------------------
            function randPass(length) {
                length = length || '';
                // var rand = 'abcdefghijklmnopqrstuvwxyz' + 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' + '0123456789';
                var rand = 'abcdef' + '0123456789';
                rand = rand.split('');
                var pass = '';
                for (var i = 0; i < length; i++) {
                    pass += rand[Math.floor(Math.random() * rand.length)];
                }
                return pass;
            }
            
            function set_item(){
                
                
                document.getElementById("str").innerText = str;
				document.getElementById("hash").innerText = hash;
            }


		</script>
	</head>

	<body onload="onBodyLoad()">

        <div data-role="page" id="page_itemDetail" data-add-back-btn="false">
            
            <div data-role="header" data-position="inline">
                <h1>商品情報</h1>
                <a href="barcode.html" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
                    戻る
                </a>
            </div>
            
            <div class="cont_itemDetail" data-role="content">
                <form method="POST" action="<%= url_for :controller => :OrderInfoApp, :action => :order %>">
                    <input type="hidden" name="id" value=""/>
                    <input type="hidden" name="buy" value="enable"/>
                    
                    <!-- 商品情報変更 -->
                    <% if @item_info_app.item_update_flg == 'enable' && @item_info_app.item_create_time != @item_info_app.item_update_time %>
                    <div class="data_change">
                        <div class="tl">
                            <%= convert_date(@item_info_app.item_update_time.to_i) %>に商品情報が変更されました
                        </div>
                    </div>
                    <% end %>
                    <!-- /商品情報変更 -->
                    
                    <ul class="item_summary" data-role="listview">
                        
                        <!-- 商品名 -->
                        <li class="item_name">
                            <h1 class="name"><%= @item_info_app.item_name %></h1>
                        </li>
                        <!-- /商品名 -->
                        
                        <li class="item_img_price">
                          
                            <div class="box2">
                                
                                <!-- 商品画像 -->
                                <div class="box2_01 item_img">
                                    <div class="inner">
                                        <img src="<%= @item_info_app.item_image %>" width="150" height="150" alt="商品画像" />
                                    </div>
                                </div>
                                <!-- /商品画像 -->
                                
                                <div class="box2_02 item_price">
                                    
                                    <!-- 価格 -->
                                    <dl class="price">
                                        <dt>価格</dt>
                                        <dd id="item_pirce">
                                            <%= currency(@item_info_app.item_price) %>
                                            <% if @item_info_app.item_price.to_i > 0 %>
                                            <span>円</span>
                                            <% end %>
                                        </dd>
                                    </dl>
                                    <!-- /価格 -->
                                    
                                    <!-- 送料 -->
                                    <% if @is_pref_flg == 'enable' %>
                                    <dl class="shippingCost">
                                        <dt>送料</dt>
                                        <dd id="order_carriage">
                                            <span id="carriage"><%= currency(@item_info_app.order_carriage) %>円</span>
                                        </dd>
                                    </dl>
                                    <% end %>
                                    <!-- /送料 -->
                                    
                                    <!-- 送料無料 -->
                                    <% if @item_info_app.non_carriage_price.to_i > 0 %>
                                    <dl class="shippingCost">
                                        <dd id="order_carriage">
                                            <span><%= currency(@item_info_app.non_carriage_price) %>円以上は送料無料</span>
                                        </dd>
                                    </dl>
                                    <% end %>
                                    <!-- /送料無料 -->
                                    
                                    <!-- 在庫状況 -->
                                    <% if @item_info_app.item_is_activate_flg == 'disable' || @item_info_app.item_is_ready_flg == 'disable' %>
                                    <p class="ico ico_backOrder">販売準備中</p>
                                    <% elsif item_stock_sts(@item_info_app.item_stock_sts) == 'remind' %>
                                    <p class="ico ico_onlyRemaining">残りわずか</p>
                                    <% elsif item_stock_sts(@item_info_app.item_stock_sts) == 'discontinued' || @item_info_app.item_is_stop_flg == 'disable' %>
                                    <p class="ico ico_discontinued">販売中止</p>
                                    <% elsif item_stock_sts(@item_info_app.item_stock_sts) == 'nostock' %>
                                    <p class="ico ico_backOrder">入荷待ち</p>
                                    <% end %>
                                    <!-- /在庫状況 -->
                                    
                                </div>
                            </div>
                           
                        </li>
                        
                        <% if @item_info_app.is_sales_flg == 'enable' %>
                        <% if @is_pref_flg == 'enable' %>
                        <li class="item_quantity_buy">
                            <div class="item_buy_price">
                                <span>ご購入合計金額：</span>
                                <span id="total"><%= currency(@item_info_app.item_price.to_i + @item_info_app.order_carriage.to_i).to_s + '円(税込)' %></span>
                            </div>
                        </li>
                        <% end %>
                        <li class="item_quantity_buy">
                            <div class="box2">
                                <div class="box2_01 item_quantity">
                                    <div class="inner">
                                        <div date-role="fieldcontain">
                                            <p>
                                            数量：
                                            <select class="itemValue" id="order_amount" name="order_amount" onChange="getCarriage(<%= @item_info_app.item_price.to_i %>, <%= @item_info_app.order_carriage.to_i %>, <%= @item_info_app.non_carriage_price.to_i %> )">
                                                <% order_max_amount(@item_info_app.item_stock_sts, @item_info_app.item_max_sales).each do |i| %>
                                                <option value="<%= i %>" ><%= i %></option>
                                                <% end %>
                                            </select>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="box2_02 item_buy btn_txt_ow">
                                    <button class="btn_next" type="submit">購入する</button>
                                </div>
                            </div>
                        </li>
                        <% end %>
                        
                        <% if @addressee %>
                        <li class="item_shippingAddress">
                            <a href="<%= url_for('/app/Addressee/index?item_id=' + @item_info_app.object) %>">
                                <p class="address">
                                現在のお届け先：<span><%= @addressee.recipient_subject %></span>
                                </p>
                                <p class="txt">お届け先の変更はこちら</p>
                            </a>
                        </li>
                        <% end %>
                        
                        <li class="shop_contact">
                            <div class="txt" style="font-weight:bold;">
                                <%= @item_info_app.item_name %>
                            </div>
                            <div class="txt">
                                <%= @item_info_app.item_short_desc %>
                            </div>
                        </li>
                        
                        <li class="shop_neme">
                            <a href="#page_shopProfile" deta-transition="slide">
                                販売者：<span><%= @item_info_app.company_name %></span>
                                <p class="txt">販売者・特定商取引の詳細はこちら</p>
                            </a>
                        </li>
                        
                        <li class="shop_contact">
                            <div class="txt">
                                販売者へのお問い合わせはこちらから
                            </div>
                            
                            <div class="box2">
                                <div class="box2_01 contact_link">
                                    <a class="btn_prev" href="<%= url_for :action => :contacts, :id => @item_info_app.object %>" data-role="button">
                                        フォームはこちら
                                    </a>
                                </div>
                                
                                <div class="box2_02 tel_link">
                                    <a class="btn_prev" href="tel:<%= @item_info_app.company_phone %>" data-role="button">
                                        電話で問い合わせる
                                    </a>
                                </div>
                            </div>
                        </li>
                        
                        <% if @item_info_app.is_sales_flg == 'enable' %>
                        <li class="item_buy_1btn">
                            <div class="item_buy btn_txt_ow">
                                <button class="btn_next" type="submit">購入する</button>
                            </div>
                        </li>
                        <% end %>
                        
                    </ul>
                </form>
            </div>
            <!-- content -->
            
            <!-- footer -->
            <div data-role="footer" data-position="fixed">
                
                <nav id="custom" data-role="navbar">
                    <ul>
                        <li><a href="barcode.html" id="bercode" data-icon="custom">QRコード</a></li>
                        <li><a href="show_order_item.html" id="order" data-icon="custom">購入履歴</a></li>
                        <li><a href="setting.html" id="setting" data-icon="custom">設定</a></li>
                    </ul>
                </nav>
                
                <style>
                    .ui-btn-inner{
                        padding-top:40px !important;
                    }
                    .ui-btn .ui-icon{
                        width:30px !important;
                        height:30px !important;
                        margin-left:-15px !important;
                        box-shadow:none !important;
                        -moz-box-shadow:none !important;
                        -webkit-box-shadow:none !important;
                        -webkit-border-radius:0 !important;
                        border-radius:0 !important;
                    }
                    #bercode .ui-icon{
                        background:url(icon/barcode.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    #order .ui-icon{
                        background:url(icon/shopping.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    #setting .ui-icon{
                        background:url(icon/gear2.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    </style>
                
            </div>
            <!-- /footer -->
            
        </div>
        <!-- /page -->
        
        <!-- 販売者・特定商取引ここから-->
        <div id="page_shopProfile" data-role="page" data-add-back-btn="false" data-theme="z">
            
            <div data-role="header" data-position="inline">
                <h1>特定商取引法に基づく表示</h1>
                <a href="#page_itemDetail" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
                    戻る
                </a>
            </div>
            
            <!-- コンテンツここから-->
            <div data-role="content" class="cont_shopProfile">
                
                <dl>
                    <dt>販売業者</dt>
                    <dd><%= @item_info_app.company_name %><br/>
                        <% if @item_info_app.company_liaise && @item_info_app.company_liaise != ""%>
                        （営業時間: <%= @item_info_app.company_liaise %>）
                        <% end %>
                    </dd>
                    
                    <dt>運営責任者</dt>
                    <dd><%= @item_info_app.company_president %></dd>
                    
                    <dt>所在地</dt>
                    <dd><%= @item_info_app.company_address1 + @item_info_app.company_address2 + @item_info_app.company_address3 %>
                    </dd>
                    
                    <dt>電話番号</dt>
                    <dd><%= format_phone(@item_info_app.company_phone) %></dd>
                    
                    <!--
                     <dt>メールアドレス</dt>
                     <dd><%= @item_info_app.company_mail %></dd> -->
                    
                    <dt>商品代金以外の必要料金</dt>
                    <dd>
                        <% if @item_info_app.company_charge && @item_info_app.company_charge != '' %>
                        <%= @item_info_app.company_charge %>
                        <% else %>
                        商品代金以外の必要料金はありません。
                        <% end %>
                    </dd>
                    
                    <dt>お支払方法</dt>
                    <dd>クレジットカード決済</dd>
                    
                    <dt>お支払い期限</dt>
                    <dd>即時決済</dd>
                    
                    <dt>商品の引き渡し時期</dt>
                    <dd>
                        <% if @item_info_app.company_report_time && @item_info_app.company_report_time != '' %>
                        <%= @item_info_app.company_report_time %>
                        <% else %>
                        ご入金確認後のお届けになります。詳しい到着日はお尋ね下さい。
                        <% end %>
                    </dd>
                    
                    <dt>返品・交換について</dt>
                    <dd>
                        <% if @item_info_app.company_returned && @item_info_app.company_returned != '' %>
                        <%= @item_info_app.company_returned %></dd>
                    <% else %>
                    お届けした商品がお申し込みと異なっていた場合は交換させて頂きます。
                    <% end %>
                </dl>
                
                <ul data-role="listview">
                    <li class="shop_contact">
                        <div class="txt">販売者へのお問い合わせはこちらから</div>
                        <div class="box2">
                            <div class="box2_01">
                                <a class="btn_prev" href="<%=url_for(:action => :contacts, :id => @item_info_app.object) %>" data-role="button">
                                    フォームはこちら
                                </a>
                            </div>
                            
                            <div class="box2_02 tel_link">
                                <a class="btn_prev" href="tel:<%= @item_info_app.company_phone %>" data-role="button">
                                    電話で問い合わせる
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>
            
            <div data-role="footer" data-position="fixed">
                
                <nav id="custom" data-role="navbar">
                    <ul>
                        <li><a href="barcode.html" id="bercode" data-icon="custom">QRコード</a></li>
                        <li><a href="show_order_item.html" id="order" data-icon="custom">購入履歴</a></li>
                        <li><a href="setting.html" id="setting" data-icon="custom">設定</a></li>
                    </ul>
                </nav>
                
                <style>
                    .ui-btn-inner{
                        padding-top:40px !important;
                    }
                    .ui-btn .ui-icon{
                        width:30px !important;
                        height:30px !important;
                        margin-left:-15px !important;
                        box-shadow:none !important;
                        -moz-box-shadow:none !important;
                        -webkit-box-shadow:none !important;
                        -webkit-border-radius:0 !important;
                        border-radius:0 !important;
                    }
                    #bercode .ui-icon{
                        background:url(icon/barcode.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    #order .ui-icon{
                        background:url(icon/shopping.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    #setting .ui-icon{
                        background:url(icon/gear2.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    </style>
                
            </div><!-- /footer -->
            
        </div>
        <!-- 販売者・特定商取引ここまで-->
            
            <div data-role="footer" data-position="fixed">
                
                <nav id="custom" data-role="navbar">
                    <ul>
                        <li><a href="barcode.html" id="bercode" data-icon="custom">QRコード</a></li>
                        <li><a href="show_order_item.html" id="order" data-icon="custom">購入履歴</a></li>
                        <li><a href="setting.html" id="setting" data-icon="custom">設定</a></li>
                    </ul>
                </nav>
                
                <style>
                    .ui-btn-inner{
                        padding-top:40px !important;
                    }
                    .ui-btn .ui-icon{
                        width:30px !important;
                        height:30px !important;
                        margin-left:-15px !important;
                        box-shadow:none !important;
                        -moz-box-shadow:none !important;
                        -webkit-box-shadow:none !important;
                        -webkit-border-radius:0 !important;
                        border-radius:0 !important;
                    }
                    #bercode .ui-icon{
                        background:url(icon/barcode.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    #order .ui-icon{
                        background:url(icon/shopping.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
                    #setting .ui-icon{
                        background:url(icon/gear2.png) 50% 50% no-repeat !important;
                        background-size:20px 24px !important;
                    }
            	</style>
                
            </div><!-- /footer -->
            
		</div>

	</body>
</html>

